[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
asyncpgsa = "*"
"psycopg2" = "*"
tqdm = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
